*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --logo-font-size: 4rem;
    --title-font-size: 2rem;
    --subtitle-font-size: 1.5rem;
    --content-font-size: 1rem;
    --pading-top-bottom-global: 1rem;
    --padding-left-right-global: 7.5rem;
    --border-radius-value: 8px;
    --input-padding: 5px;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}
h3{
    font-size: var(--title-font-size);
}
header{
    padding: var(--pading-top-bottom-global) var(--padding-left-right-global);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;


    background-color: red;

}
header h1{
    flex: 1;
    font-size: var(--logo-font-size);
}
header .account{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
header .account i{
    font-size: var(--title-font-size);
}

.info-container{
    /* background-color: blue; */
    padding: var(--pading-top-bottom-global) var(--padding-left-right-global);
    display: flex;
    gap: calc(var(--padding-left-right-global)/2);
    justify-content: space-between;
}
.about{
    background-color: green;
    padding: 1rem 0;
}
.about span{
    font-size: var(--content-font-size);
}
.connect{
    padding: 1rem 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--content-font-size);
    border: 3px gray solid;
    border-radius: var(--border-radius-value);
    width: max(350px, 20vw);
    gap: 1rem;
}
.connect form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.connect .input-group{
    display: flex;
    flex-direction: column;
}
.connect input{
    width: 100%;
    border: 1px solid black;
    padding: var(--input-padding);
    border-radius: var(--border-radius-value);
}
.connect label, .connect input{
    font-size: var(--content-font-size);
}
.connect button{
    justify-self: center;
    align-self: center;
    font-size: calc(var(--content-font-size));
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius-value);
    background-color: #4688F1;
    color: white;
    
}
.connect hr.solid{
    border: 0;
    border-top: 2px solid gray;
    width: max(150px, 90%);
}
.connect .other-methods{
    /*guest account or register text*/
}

.projects-container{
    background-color: pink;
    padding: var(--pading-top-bottom-global) var(--padding-left-right-global);
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 100%; */
}
.projects-list{
    background-color: lightblue;
    min-width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    /* gap: 35px; */
    align-items: top;
    justify-content: space-between;
    row-gap: 35px;
    border-radius: var(--border-radius-value);
}
.projects-list .project-title{
    font-size: var(--subtitle-font-size);
}
.project{
    background-color: lightgreen;
    padding: 1rem 2rem 2rem 2rem;
    width: 100%;
    min-height: 250px;
    height: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: var(--border-radius-value);
}
.project-top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.project-top-row i{
    font-size: var(--subtitle-font-size);
    cursor: pointer;
}
.project-top-row .fa-pen-to-square{
    margin-left: auto;
}
.add-new-project{
    opacity: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--subtitle-font-size);
    height:250px;
    cursor: pointer;
}
.add-new-project i{
    color: black;
    font-size: 50px;
    position: relative;
    
}
.add-new-project:hover{
    opacity: 100%;
}

.todo-list{
    display: flex;
    flex-direction: column;
    gap:15px;
    list-style: none;

}

.todo-item{
    background-color: #fff;
    padding: 15px 15px 15px 15px;
    font-size: var(--content-font-size);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.todo-item span{
    flex: 1;
}
.todo-item .manage-todo-item{
    display: flex;
    justify-content: space-around;
}
.add-new-todo{
    opacity: 50%;
    /* cursor: pointer; */
    
}
.add-new-todo form{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.add-new-todo:hover, .add-new-todo:focus-within{
    opacity: 100%;
}

.add-new-todo input{
    font-size: var(--content-font-size);
    padding: var(--input-padding);
    width: 100%;
    border: none;
}
.add-new-todo label{
    display: flex;
}
.add-new-todo i{
    cursor: pointer;
    font-size: var(--subtitle-font-size)
}
@media only screen and (max-width:950px){
    header{
        padding: calc(var(--padding-left-right-global)*0.5) calc(var(--padding-left-right-global)*0.5);
    }
    .info-container{
        padding: calc(var(--padding-left-right-global)*0.5) calc(var(--padding-left-right-global)*0.5);
        /* display: flex; */
        flex-direction: column;
        align-items: center;

    }
    .about{
        width: max(350px, 100%);
    }
    .projects-container{
        padding: 0 calc(var(--padding-left-right-global)*0.5) calc(var(--padding-left-right-global)*0.5) calc(var(--padding-left-right-global)*0.5);
    }
    .projects-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project{
        width: min(350px,100%);
    }
    .add-new-project{
        opacity: 100%;
    }
}

@media only screen and (max-width:650px){
    header{
        padding: calc(var(--padding-left-right-global)*0.25) calc(var(--padding-left-right-global)*0.25);
        min-height: 5vh;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    header .account{
        align-self: flex-end;
    }
}

@media only screen and (max-width: 470px){
    .project{
        width: max(350px,100%);
    }
}